.themeColor {
    > div{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        > button {
            width: 100px;
            height: 40px;
            > div {
                width: calc(100% - 5px);
                height: calc(100% - 5px);
            }
        }
        > div {
            width: 100%;
        }
    }
}